@charset "utf-8";
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.page1{
	background: url(../img/diyiping.jpg) no-repeat top center;
	background-position:-177px -264px;
	position: relative;
}
.page1 .We{
	background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: -204px;		
	right:590px;
	/*display: none;*/
}
.page1 .We .we{
	font-size: 100px;
	padding: 46px 20px 50px 20px;
}
.page1 .yingwen1{
	/*display: none;*/
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: -204px;
	right:224px;
	width:300px;
	color: #FFF;
	padding: 20px 16px;
	    font-size: 12px;
}
.page1 .Guess{
	/*display: none;*/
	position: absolute;
	background-color:rgba(255,255,255,0.4);
	font-size: 100px;
	top: -339px;
	right:224px;
	padding: 0 85px 0 20px;;
}

.page2{
	background: url(../img/dierping.jpg) no-repeat top center;
	background-position:-185px -400px;
	position: relative;
}
.page2 .You{
    background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: 204px;		
	left:458px;
	display: none;
}
.page2 .You .you{
	font-size: 100px;
	padding: 46px 20px 50px 20px;
}
.page2 .yingwen2{
	display: none;
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: 204px;
	left:100px;
	width:300px;
	color: #FFF;
	padding: 20px 16px;
	font-size: 12px;
}
.page2 .Pro{
	display: none;
	position: absolute;
	background-color:rgba(255,255,255,0.4);
	font-size: 66px;
	top: 339px;
	left:100px;
	padding: 0 0px 0 20px;;
}

.page3{
	background: url(../img/disanping1.jpg) no-repeat top center;
	background-position:-107px -42px;
	position: relative;
}
.page3 .OR{
    background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: 150px;		
	left:350px;
}
.page3 .or{
	font-size: 100px;
	padding: 46px 20px 50px 20px;
}
.page3 .yingwen3{
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: 290px;
	left:350px;
	width:300px;
	color: #FFF;
	padding: 20px 16px;
	font-size: 12px;
}
.page3 .heimuz{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.page3 .heimuy{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.page4{
	background: url(../img/disiping.jpg) no-repeat top center;
	background-position:-77px -264px;
	position: relative;
}
.page4 .No{
    background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: 120px;		
	right: 455px;
	display: none;
	
}
.page4 .No .no{
	font-size: 100px;
	padding: 46px 24px 50px 24px;
}
.page4 .yingwen4{
	display: none;
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: 120px;
	right:100px;
	width:300px;
	color: #FFF;
	padding: 20px 16px;
	font-size: 12px;
}
.page4 .Of{
	display: none;
	position: absolute;
	background-color:rgba(255,255,255,0.4);
	font-size: 66px;
	top: 260px;
	right:100px;
	padding: 0 0px 0 10px;;
}
.page4 .zhe1{
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.page4 .zhe2{
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.page4 .zhe3{
	width: 50%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.page4 .zhe4{
	width: 50%;
	height: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.page5{
	background: url(../img/diwuping.jpg) no-repeat top center;
	background-position:-504px -160px;
	position: relative;
}
.page5 .Ma{
    background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: 210px;		
	left: -439px;
	
}
.page5 .Ma .ma{
	font-size: 82px;
	padding: 0 10px ;
}
.page5 .yingwen5{
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: -374px;
	width:300px;
	color: #FFF;
	padding: 10px;
	font-size: 12px;
}
.page5 .Wh{
	position: absolute;
	background-color:rgba(255,255,255,0.4);
	font-size: 70px;
	top: 320px;
	left: -620px;
	padding: 0 0px 0 10px;;
}

.page6{
	background: url(../img/diliuping.jpg) no-repeat top center;
	background-position:-77px -264px;
	position: relative;
}
.page6 .CA{
    background-color:rgba(255,255,255,0.4);
	position: absolute;
	top: 210px;		
	right: -594px;
	
}
.page6 .CA .ca{
	font-size: 82px;
	padding: 0 10px ;
}
.page6 .yingwen6{
	border: 2px solid #FFF;
	overflow: hidden;
	position: absolute;
	top: 100px;
	right: -324px;
	width:300px;
	color: #FFF;
	padding: 10px;
	font-size: 12px;
}
.page6 .is{
	position: absolute;
	background-color:rgba(255,255,255,0.4);
	font-size: 70px;
	top: 320px;
	right: -500px;
	padding: 0 0px 0 10px;;
}
.page6 .jinruzhuye .yw{
	font-size: 50px;
	color: #FFF;
	text-align: center;
}
.page6 .jinruzhuye .zw{
	font-size: 20px;
	color: #FFF;
	text-align: center;
}
.page6 .jinruzhuye a{
	text-decoration: none;
}
.page6 .jinruzhuye{
	width: 120px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 320px;
	right: 463px;
	display: none;
}
