
@charset "UTF-8";
/*html5*/
#fancybox-overlay{min-width: 1236px;}
/*头导航*/
.header{height:80px;line-height:80px;position: absolute;background: none;color: #fff;}
.header .logo{height: 80px;margin-right:20px;line-height: 75px;}
.smartLife_content{margin: 0 90px;}
.sHeader_right li{float: left;}
.sHeader_right li a{padding:0 30px;color:#fff;line-height: 20px;font-size: 14px;}

.headerTwo{height:80px;line-height:80px;background: none;color: #fff;}
.headerTwo .logo{height: 80px;margin-right:20px;line-height: 75px;}
.headerTwo .sHeader_right li a{padding:0 30px;color:#333;font-weight:bold;line-height: 20px;font-size: 14px;}
.headerTwo .myPlan_icon{width: 25px;height: 20px;background: url("smartLife0203005.png") 0 -35px no-repeat;display: inline-block;vertical-align: middle;margin-right: 8px;}


.headerThree{height:80px;line-height:80px;position: absolute;background: none;}
.headerThree .logo{height: 80px;margin-right:20px;line-height: 75px;}
.headerThree .sHeader_right li a{padding:0 30px;color:#333;line-height: 20px;font-size: 14px; color: rgba(51,51,51,0.5);}
.headerThree .sHeader_right li a.cur{color: #31c0fc;}
.headerThree .myPlan_icon{width: 25px;height: 20px;background: url("smartLife0203005.png") 0 -35px no-repeat;display: inline-block;vertical-align: middle;margin-right: 8px;}

.myPlan_nav{background: url("smartLife0203014.png") left center no-repeat;margin-left: 30px;}
.sHeader_right li.myPlan_nav a{border-left: 1px solid #e5e5e5;padding:1px 0px 3px 60px;font-weight: normal;}
.myPlan_icon{width: 25px;height: 20px;background: url("smartLife0203005.png") 0 -60px no-repeat;display: inline-block;vertical-align: middle;margin-right: 8px;}

/*图片单屏显示*/
.single_show{width: 100%;}
.single_every{width:100%;position: relative;overflow: hidden;}
.single_every .single_everyImg{width: 100%;display: inherit;}

/*图片单屏显示第一个*/
.single_every .first_con{width: 230px;min-height: 220px;position: absolute;left: 50%;top: 50%;margin-left: -115px;margin-top:-160px;text-align: center;}
.single_every .first_con .first_conF{padding: 30px 30px 0 30px;background: #fff;margin-bottom: 10px;}
.single_every .first_con .delves{margin: 50px 0px 25px 0px;display: inline-block;color: #7c6846;}
.single_every .first_con .delves_arrow{width: 7px; height: 13px;margin-left:10px;background: url("smartLife0203005.png") no-repeat; overflow: hidden;display: inline-block;vertical-align: middle;}
.single_every .first_con .watch_videos{color: #00e6e9;display: inline-block;vertical-align: middle;}
.single_every .first_con .video_btn{width: 16px;height: 16px;margin-left:10px; background: url("smartLife0203005.png") 0 -14px no-repeat; overflow: hidden;display: inline-block;vertical-align: middle;}

/*图片单屏显示第二个*/
.single_every .two_con{position:absolute;width:320px;left: 140px;top: 260px;color: #fff;}
.single_every .two_con h4{font-size: 16px;color: #999;}
.single_every .two_con h2{font-size: 28px;margin: 10px 0 20px 0px;}
.single_every .two_con p{font-size: 12px;}

/*图片单屏显示第三个*/
.single_every .three_left{background: #2b2a2a;display: inline-block;float: left;width: 50%;height: 640px;color: #999;position: relative;}
.single_every .three_left .three_con{width:320px;position: absolute;left: 50%;margin-left: -160px;top: 50%;margin-top: -110px;}
.single_every .three_left h4{font-size: 16px;}
.single_every .three_left h2{font-size: 28px;color: #fff;margin: 5px 0 20px 0px;}
.single_every .three_left p{font-size: 12px;}


.single_every .three_con ul li{float: left;margin-right: 40px;}
.single_every .three_con ul li img{display: block;margin: 35px auto 0 auto;}

/*图片单屏显示第四个*/
.single_every .four_con{width: 310px;min-height: 220px;background: #fff;padding: 60px 30px 0 30px;position: absolute;left: 50%;top: 50%;margin-left: -185px;margin-top: -140px;}
.single_every .four_con h4{font-size: 16px;}
.single_every .four_con h2{font-size: 28px;margin: 5px 0 30px 0px;}
.single_every .four_con p{font-size: 12px;color: #999;}

.content_smartLife{width: 1200px; margin: 0 auto;position: relative;}


/*热门推荐*/
.smartLife_main{width:1236px!important;margin:0 auto;margin-top:55px}
.smartLife_main>h2{font-size: 30px;text-align: center;margin-bottom: 30px;}
.smartLife_main .recommend{width:1234px;border: 1px solid #eeeeee;margin: 0 auto 30px auto; overflow: hidden;}
.smartLife_main .recommend_leftImg{float: left;}
.smartLife_main .recommend_leftImg>img{float: left;border-right: 1px solid #eee;}
.smartLife_main .recommend .recommend_right{width: 570px;padding: 30px 35px 0 40px;float: left;}
.smartLife_main .recommend .recommend_right .right_title{color: #999;font-size: 16px;}
.smartLife_main .recommend .recommend_right h4{font-size: 24px;margin-bottom: 10px;}
.smartLife_main .recommend .recommend_right h4 a{color: #333333;}
.smartLife_main .recommend .recommend_right p{font-size: 14px;}
.smartLife_main .recommend .right_label{margin-top: 30px;}
.smartLife_main .recommend .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;color:#999;display: inline-block;}
.smartLife_main .recommend .right_bottom{width:100%;margin-top: 40px;float: left;position: relative;}
.smartLife_main .recommend .right_bottom span{color: #ff8530;line-height: 45px;font-size: 24px;padding-left: 15px;}
.smartLife_main .recommend .right_bottom span i{position: absolute;top: -2px;font-size: 16px;margin-left: -15px;}
.smartLife_main .recommend .right_bottom .add_btn{padding: 6px 15px;border: 1px solid #005aab;color: #005aab;border-radius: 3px;font-size: 14px;float: right;}

.smartLife_main .recommend {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 2px;
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(.02,.01,.47,1);
    -moz-transition: all 250ms cubic-bezier(.02,.01,.47,1);
    transition: all 250ms cubic-bezier(.02,.01,.47,1);
}

.smartLife_main .recommend:hover {
    webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15)
}

/*更多方案*/
.more_options>h2{height:20px;border-bottom:1px solid #32beff;text-align:center;margin-top: 3px;margin-bottom: 45px;}
.more_options>h2>a{background:#fff url("smartLife0203001.png") no-repeat;width:97px;margin-top:7px;line-height:27px;display:inline-block;color: #32beff;}



/*场景探索*/
#imageView_container{position: relative;min-width: 1236px;}
.scene_navigation{width: 142px; height: 105px; background: url("smartLife0203008.png") no-repeat; position: absolute; left:20px; top: 80px;}
.scene_navigation a{cursor: pointer; text-align: center;display: inline-block;}
.scene_navigation a.cur{background: #fff;}
.leftTop{width:53px;height:33px;line-height:33px;position: absolute;left:14px;top: 29px; }
.rightTop{width:35px;height:30px;line-height:30px;position: absolute;left:69px;top: 12px; }
.leftBottom{width:45px;height:29px;line-height:29px;position: absolute;left:22px;top: 65px; }
.rightBottom{width:33px;height:32px;line-height:32px;position: absolute;left:69px;top: 57px;}


.hn_protitbanner{width: 100%;height: 200px; background: url(smartLife0203006.jpg) center center no-repeat;background-size: auto 100%;text-align: center;}
.hn_protitbanner .banner_con{padding-top: 75px;}
.hn_protitbanner .banner_con h2{font-size: 24px;}
.hn_protitbanner .banner_con p{font-size: 14px;color: #999;margin-top: 8px;}

.scene_btn{position: absolute;bottom: 30px;left: 50%;margin-left: -190px;}
.scene_btn .btn180{width:180px;height:39px;line-height:39px;border-radius: 7px;background: #fff;display: inline-block;margin: 0 5px;text-align: center;font-size: 14px;cursor: pointer;}
.scene_btn .btnBlue{background: #005aab;color: #fff;}
.sencePlay{width: 16px;height: 16px;background: url("smartLife0203016.png") no-repeat;display: inline-block;vertical-align: middle;margin:-2px 10px 0px 0px;}

.scene_main{width: 1065px!important;overflow: auto;display: none;}
.scene_main.cur{display: block;}
.scene_tabCon{height: 425px;}
.scene_tab{height: 60px;line-height: 60px;text-align: center;margin-bottom: 10px;border-bottom: 1px solid #f2f2f2;}
.scene_tab ul{display:inline-block;margin: 0 auto;}
.scene_tab ul li{float: left;}
.scene_tab ul li a{padding:10px 20px;font-size: 16px;color: #999;}
.scene_tab ul li a:hover{color: #005aab;}
.scene_tab ul li.cur a{color: #005aab;}

.scene_main .recommend{width:1005px;border: 1px solid #eeeeee;margin:10px auto 10px auto; overflow: hidden;}
.scene_main .recommend_leftImg{float: left;}
.scene_main .recommend_leftImg>img{float: left;border-right: 1px solid #eee;}
.scene_main .recommend .recommend_right{width: 440px;padding: 20px 30px 0 30px;float: left;position: relative;}
.scene_main .recommend .recommend_right .right_title{color: #999;font-size: 16px;}
.scene_main .recommend .recommend_right h4{font-size: 24px;margin-bottom: 10px;}
.scene_main .recommend .recommend_right h4 a{color: #333333;}
.scene_main .recommend .recommend_right p{font-size: 14px;}
.scene_main .recommend .recommend_right .scene_price{position: absolute;right: 30px;top: 20px;}
.scene_main .recommend .right_label{margin-top: 20px;}
.scene_main .recommend .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;color:#999;display: inline-block;}
.scene_main .recommend .right_bottom{width:100%;margin-top: 10px;float: left;position: relative;}
.scene_main .recommend .right_bottom span{color: #ff8530;line-height: 45px;font-size: 24px;padding-left: 15px;}
.scene_main .recommend .right_bottom span i{position: absolute;top: -2px;font-size: 16px;margin-left: -15px;}
.scene_main .recommend .right_bottom .add_btn{padding: 6px 15px;border: 1px solid #005aab;color: #005aab;border-radius: 3px;font-size: 14px;float: right;}

.scene_main .recommend:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.15)
}

/*热点*/
.hotSpot{width:32px;height:32px;display:inline-block;position: absolute;z-index: 1;cursor: pointer;}
.hotSpotImg{width: 32px;height:32px;display: block;background: url("smartLife0203007.png") no-repeat;}

.hotDetail{width: 960px; height: 500px;background: #f8f8f8;}
.hotDetail_left{width:520px;height:100%;padding: 30px 30px 40px 40px;background: #fff;margin-right:20px;float: left;}
.hotDetail_left h2{color: #005aab;font-size: 32px;margin: 2px 0px;}
.hotDetail_left p{color: #666666;font-size: 14px;margin-bottom: 30px;}
.hotDetail_left .hotContent{width:280px;color: #999999;font-size: 12px;}
.hotDetail_video{width: 245px;padding-top:20px;float: left;}
.hotDetail_video .hotVideo_play{color: #005aab;font-size: 12px}
.hotDetail_video .hotVideo_play .hotPlay_icon{width: 16px; height: 16px;background: url("smartLife0203016.png") 0 -20px no-repeat;margin:-3px 10px 0px 0px;display: inline-block;vertical-align: middle;}
.hotDetail_img{width: 270px;float: left;}
.hotDetail_right{width: 335px;float: left;}
.hotDetail_right .hotDetail_title{font-size: 16px;}
.hotRight_div{background:#fff;box-shadow: 0 3px 10px rgba(0,0,0,.15);margin:10px 5px;padding: 10px 30px;border-radius: 6px;}
.hotRight_div .group{border-left:1px solid #666;padding: 3px 10px;font-size: 16px;}
.hotRight_div span{border-left:1px solid #666;padding: 3px 10px;}
.hotRight_div h2{font-size: 20px;}
.hotRight_div h2 .hotRight_price{color: #ff8530;border: none;font-size: 16px;float: right;}
.hotRight_div p{color: #999;}
.groupIcon{width: 32px;height: 32px;background: url("smartLife0203017.png") 0 -4px no-repeat;margin-right:10px;display: inline-block;vertical-align: middle;}
.hotRight_div .right_label{margin-top: 20px;}
.hotRight_div .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;margin-bottom:10px;color:#999;display: inline-block;}
.hotDetail_rightM{width: 345px;height:440px;margin-top:50px;float: left;}

/*筛选器*/

.screening_solution{width:100%;height:40px;line-height:40px;margin-top: 30px;border-bottom: 1px solid #e5e5e5;}
.screening_solution li{width:158px;height:39px;text-align:center;border: 1px solid #eee;border-radius:4px;float: left;margin-bottom: -1px;}
.screening_solution li:first-child{border-radius: 4px 4px 4px 0px;}
.screening_solution li.cur{border-bottom: 1px solid #fff;}
.screening_solution li.cur a{font-weight: bold;}
.screening_solution li a{display: block;cursor: pointer;font-size: 16px;}

.hn_filtratebox .cont{height:auto;overflow:hidden;border:1px solid #e5e5e5;border-top:none;border-radius:0px 4px 4px 4px;padding:0 30px;font-size:1.2em;}

.hn_filtratebox .cont .info{line-height:55px;font-size:1.16em;color:#666;border-bottom:1px solid #e5e5e5;}
.hn_filtratebox .cont .info h3{font-size:1.14em;color:#005aab;display:inline-block;font-weight:bold}
.hn_filtratebox .cont .info i{color:#e5e5e5;display:inline-block;padding:0 15px;font-size:18px;}
.hn_filtratebox .cont .info span{font-size:0.85em;color:#999;display:inline-block;padding:0 5px;}
.hn_filtratebox .cont .info span b{color:#666;display:inline-block;padding:0 3px;}

.hn_filtratebox .cont ul li{display:block;border-bottom:1px dotted #e5e5e5;line-height:40px}
.hn_filtratebox .cont ul li:last-child{border-bottom: none;}
.hn_filtratebox .cont ul li .name{width:74px;color:#999;display:inline-block;vertical-align:top;font-size: 14px;}
.hn_filtratebox .cont ul li .list{display:inline-block;width:1050px;line-height:25px;margin-top:7px;}
.hn_filtratebox .cont ul li .list a{padding: 0 10px;margin-right:5px;display:inline-block;color:#333;cursor: pointer; font-size: 14px;}
.hn_filtratebox .cont ul li .list a.cur,.hn_filtratebox .cont ul li .list a:hover{ background: #005aab;color: #fff;}

/*配送区域*/
.hn_goArea{height:30px;line-height:30px;position: absolute;top: 0px;right: 10px;}
.hn_goArea .name{height:30px;line-height:30px;color:#999;margin-right:10px;display: inline-block;float: left;}
.hn_goArea .goArea_set{padding:0 20px;height:30px;line-height:30px;color:#005aab;border:1px solid #ccc;display: inline-block;border-radius: 3px;}

/*加入购物车弹出层*/
.hn_floatbox h3{text-align: center;}
.qd_select li.sname{border-radius: 3px;}
.shopping_cart{width:630px;font-size:14px;color:#666;}
.shopping_cart .row span{display:inline-block;padding-right:20px;line-height: 40px;}
.shopping_cart .row a.s{display:inline-block;padding:0 20px;color:#005aab;}
.shopping_cart .space_tab{display:block;border-bottom:1px solid #ccc;line-height:40px;height:41px;margin-top:20px;}
.shopping_cart .space_tab li{width:160px;text-align:center;float:left;background:#eee;display:inline-block;border-top:1px solid #ccc;border-right:1px solid #ccc;position:relative;cursor:pointer;border-radius: 3px;}
.shopping_cart .space_tab li:first-child{border-left: 1px solid #ccc;border-radius: 3px 3px 3px 0px;}
.shopping_cart .space_tab li.cur{background:white;height:41px;}
.shopping_cart .space_content{border: 1px solid #ccc;border-top: none;margin-bottom: 10px;padding:10px 20px;}
.shopping_cart .space_content a{display:inline-block;width:19%;line-height:20px}
.shopping_cart p{color:#999;line-height:40px}
.shopping_cart p.center{text-align:center;line-height:25px}
.shopping_cart p.center a{color:#005aab;}

.hn_btnlineblue{width:180px;line-height:40px;text-align:center;display:inline-block;color:#005aab!important;border:1px solid #005aab;border-radius: 3px;}


/*解决方案主推套餐*/
.solution_main{width:1200px!important;margin:30px auto 0px auto;}
.solution_main .recommend{width:1198px;border: 1px solid #eeeeee;margin: 0 auto 30px auto; overflow: hidden;}
.solution_main .recommend_leftImg{float: left;}
.solution_main .recommend_leftImg>img{float: left;border-right: 1px solid #eee;}
.solution_main .recommend .recommend_right{width: 534px;padding: 30px 35px 0 40px;float: left;}
.solution_main .recommend .recommend_right .right_title{color: #999;font-size: 16px;}
.solution_main .recommend .recommend_right h4{font-size: 24px;margin-bottom: 10px;}
.solution_main .recommend .recommend_right h4 a{color: #333333;}
.solution_main .recommend .recommend_right p{font-size: 14px;}
.solution_main .recommend .right_label{margin-top: 30px;}
.solution_main .recommend .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;color:#999;display: inline-block;}
.solution_main .recommend .right_bottom{width:100%;margin-top: 40px;float: left;position: relative;}
.solution_main .recommend .right_bottom span{color: #ff8530;line-height: 45px;font-size: 24px;padding-left: 15px;}
.solution_main .recommend .right_bottom span i{position: absolute;top: -2px;font-size: 16px;margin-left: -15px;}
.solution_main .recommend .right_bottom .add_btn{padding: 6px 15px;border: 1px solid #005aab;color: #005aab;border-radius: 3px;font-size: 14px;float: right;}

.solution_main .hn_proinfobox:hover,.solution_main .recommend:hover {
    webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15)
}

/*其他方案*/
.hn_proinfobox{zoom:1;font-size:12px;margin-bottom:30px;overflow: hidden;}
.hn_proinfobox .proimgbox{width:600px;float:left;}
.hn_proinfobox .proimgbox .tool{float:left;position:relative;height:235px;padding:0 5px;-moz-user-select:none;}
.hn_proinfobox .proimgbox .tool .imglistbox{padding:32px 0;position:relative;width:50px;margin-top: 35px;}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox{height:180px;position:relative;width:50px;overflow:hidden}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox ul{position:absolute;top:0px;left:0px;}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox ul li{width:48px;height:48px;display:table;vertical-align:middle;cursor:pointer;text-align:center;}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox ul li span{display:table-cell;vertical-align:middle;text-align:center;width:100%;height:100%;}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox ul li:hover img{border-color:#e5e5e5;}
.hn_proinfobox .proimgbox .tool .imglistbox .showbox ul li img{float: left;border:1px solid #e5e5e5;}
.hn_proinfobox .proimgbox .tool .imglistbox .btn_per{cursor:pointer;width:12px;height:8px;display:block;background:url(smartLife0203011.png) -17px top;position:absolute;top:0px;left:20px;}
.hn_proinfobox .proimgbox .tool .imglistbox .btn_next{cursor:pointer;width:12px;height:8px;display:block;background:url(smartLife0203011.png) -0px top;position:absolute;bottom:0px;left:20px;}
.hn_proinfobox .proimgbox .proimg{width:295px;height:295px;margin-left: 110px;float: left;}
.hn_proinfobox .proinfo{width:500px;float:right;position:relative;font-size:12px;}
.hn_proinfobox .proinfo .tit{font-size:32px;line-height:42px;max-height:92px;width:400px;}
.hn_proinfobox .proinfo .typetext{font-size:18px;color:#999;font-style:italic ;line-height:20px}

.hn_proinfobox .recommend_right{width: 520px;min-height:268px;padding: 30px 35px 0 40px;float: left;border: 1px solid #eee;}
.hn_proinfobox .recommend_right .right_title{color: #999;font-size: 16px;}
.hn_proinfobox .recommend_right h4{font-size: 24px;margin-bottom: 10px;}
.hn_proinfobox .recommend_right h4 a{color: #333;}
.hn_proinfobox .recommend_right p{font-size: 14px;}
.hn_proinfobox .right_label{margin-top: 30px;}
.hn_proinfobox .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;color:#999;display: inline-block;cursor: pointer;}
.hn_proinfobox .right_label span.cur{border: 1px solid #005aab;color: #005aab;}
.hn_proinfobox .right_bottom{width:100%;margin-top: 40px;float: left;position: relative;}
.hn_proinfobox .right_bottom span{color: #ff8530;line-height: 45px;font-size: 24px;padding-left: 15px;}
.hn_proinfobox .right_bottom span i{position: absolute;top: -2px;font-size: 16px;margin-left: -15px;}
.hn_proinfobox .right_bottom .add_btn{padding: 6px 15px;border: 1px solid #005aab;color: #005aab;border-radius: 3px;font-size: 14px;float: right;}





/*我的方案浮层*/
.mySolution{ position: fixed;top: 500px;right: 40px;}
.mySolution .circle{width: 18px;height: 18px;line-height:18px;text-align: center;color: #fff; background: url("smartLife0203010.png") no-repeat; display: inline-block;position: absolute;top:0px;right: -7px;}

/*自主方案*/
.solution_zdy{margin:0 auto;margin-top:30px;margin-left: -20px;}
.independent{width:588px;border: 1px solid #eeeeee;margin: 0 0px 20px 20px; overflow: hidden;float: left;}
.independent .recommend_leftImg{float: left;}
.independent .recommend_leftImg>img{float: left;padding: 30px 0;}
.independent .recommend_right{width: 250px;padding: 30px 35px 0 30px;float: left;}
.independent .recommend_right .right_title{color: #999;font-size: 16px;}
.independent .recommend_right h4{font-size: 24px;margin-bottom: 10px;}
.independent .recommend_right h4 a{color: #333;}
.independent .recommend_right p{font-size: 14px;}
.independent .right_label{margin-top: 30px;}
.independent .right_label a{color: #005aab;}
.independent .right_label span{border: 1px solid #ddd;padding: 3px 10px;margin-right: 8px;color:#999;display: inline-block;}
.independent .right_bottom{width:100%;margin-top: 30px;float: left;position: relative;}
.independent .right_bottom span{color: #ff8530;line-height: 45px;font-size: 24px;padding-left: 15px;}
.independent .right_bottom span i{position: absolute;top: -2px;font-size: 16px;margin-left: -15px;}
.independent .add_btn{padding: 6px 15px;border: 1px solid #005aab;color: #005aab;border-radius: 3px;font-size: 14px;float: right;}

.independent:hover {
    webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15)
}

/*我的方案弹窗*/
.solution_floatbox{width:795px;height:555px;background: #fff;padding: 0px 10px 0 45px;overflow: hidden;}
.solution_floatbox h2{padding: 22px 0;margin:0 40px 10px 0px;font-size: 16px;color: #005aab;text-align: center;border-bottom: 1px solid #eee;}
#fancybox-content div{overflow: hidden!important;}

.myPlan_main{height: 390px; overflow-y: hidden!important;}
.myPlan{padding: 20px 0px;margin-right:40px;overflow: hidden;border-bottom:1px solid #eee; }
.myPlan_input{width: 65px;text-align:center;padding-top:15px;float: left;display:table-cell; vertical-align:middle;}
.myPlan_input input{width: 16px;height: 16px;}
.myPlan_info{width: 270px;float: left;}
.myPlan_num{width: 105px;padding-top:15px;float: left;font-size: 12px;text-align: center;}
.myPlan_num input{width: 30px;border: none;text-align: center;}
.more_less{width: 68px;height: 18px;line-height: 18px; border: 1px solid #eee;margin: 0 auto;}
.more_less a{width:18px;display:inline-block;font-size: 16px;}
.myPlan_price{width: 200px;line-height:50px;padding-left:10px;text-align:right;font-size:14px;float: left;}
.myPlan_price .pro_price{color:#ffa800;margin-left: 10px;}
.myPlan_del{padding-top:15px;text-align:center;float: right;}
.myPlan_delBtn{width: 16px;height: 16px;background: url("smartLife0203012.png") 0px -30px no-repeat;cursor:pointer;display: inline-block;}
.myPlan_infoImg{width: 48px; height: 48px; border: 1px solid #e5e5e5;margin-right:30px;float: left;}
.myPlan_infoTitle{width: 190px;line-height:50px;float: left;}

.subtotal{padding: 10px 95px 20px 0;text-align: right;font-size: 14px;}
/*.subtotal{padding: 10px 0 20px 0;}*/



.o_scrollWin {
    position: relative;
    overflow: hidden;
    min-height: 10px;
    height: 100%;
}
.o_scrollWin .o_scrollbody {
    width: 100%;
    top: 0;
    left: 0;
}
.o_scrollWin .o_barbox {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 9px;
    padding: 15px 0;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    background: #ebebeb;
    border-radius: 9px;
}
.o_scrollWin .o_barbox span {
    width: 1px;
    background: #eeeeee;
    margin-left: 9.5px;
    height: 100%;
    display: block;
}
.o_scrollWin .o_barbox .o_bar {
    position: absolute;
    width: 9px;
    min-height: 10px;
    background: #757575;
    margin-top: 15px;
    top: 0;
    left: 50%;
    margin-left: -4.5px;
    display: block;
    cursor: pointer;
    border-radius: 4.5px;
}
/*套餐*/
.package{background: #f6f6f6;padding-left: 65px;}
.package_every{padding: 10px 0;}

.myPlan_bottom{padding: 30px 0;font-size: 16px;}
.allSelect{width: 95px; float: left;vertical-align: middle;text-align: center}
#allSelect{width: 16px;height: 16px; vertical-align: middle;}
.allSelect label{vertical-align: middle;margin-left: 10px;}
.select_pro{width: 460px;float: left;}
.select_pro .bottom_price{color: #ffa800;}
.goBuy{width: 200px;}
.goBuy .goBuy_btn{width: 180px; height: 37px;line-height: 37px;color: #005aab;font-size: 14px;text-align: center;border: 1px solid #005aab;border-radius: 4px;display: inline-block;float: right;}


/*结算中心*/
.settlement{background: #f2f2f2;padding: 120px 0;}
.settlement_main{width: 770px;margin: 0 auto;}
.settlement_main h2{text-align: center;padding-bottom: 40px;font-size: 20px;}
.settlement_info{background: #fff;overflow: hidden;padding: 0 30px;font-size: 14px;margin-bottom: 30px;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, .1);
    box-shadow:0 0 10px rgba(0, 0, 0, .1);  }
.settlement_every{padding: 20px 0;float: left;border-bottom: 1px solid #eee;}
.settlement_title{width: 350px; float: left; }
.settlement_num{width: 130px;float: left;font-size: 12px;text-align: center;}
.settlement_price{width: 190px;padding-left:10px;text-align:right;font-size:14px;float: left;}

.package_included{width: 200px;color: #999;margin-top: 8px;float: left;}
.distri_address{ color: #333;font-weight: bold;}

.distribution{padding:30px 0px;font-size:16px;float: left;}
.distri_left{width: 350px;color:#999999;float: left;}
.distri_right{width: 325px;text-align:right;float: left;}
.settlement_bottom{text-align: center;}
.settlement_btn{width: 180px; height: 40px;line-height: 40px;display: inline-block;border-radius: 7px;margin: 0px 15px;font-size: 14px;}
.settlement_btn.blueBtn{background: #005aab;color: #fff;}
.settlement_btn.lineBtn{border: 1px solid #ccc; color: #999999}
.distri_price{color:#ffa800;}


