body {
    background-color: #006e2d;
    margin: 0;
    font-family: 微软雅黑;
    color: #000;
    font-size: 14px;
}
html{
    position: relative;
}
a {
    color: #000;
    text-decoration: none;
    border-style: none;
    border-width: 0;
}
img{
    border:0;
}
.f-center{
    text-align: center;
}
.f-container {
    width: 988px;;
    margin:0 auto;
}
.f-fl{
    float: left;
}
.f-fr{
    float: right;
}
.f-clear{
    clear: both;
}
.f-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*头部*/
.g-head{
    background: url("head.jpg") top center no-repeat;
    width:100%;
    height: 900px;
    /*position: absolute;*/
    /*top:0;*/
    /*z-index: 99;*/
}
/*头部 end*/
/*专柜*/
.m-monopoly{
    background-color: #057534;
    height: 314px;
    background: url("monopoly_bg.jpg") top center no-repeat ;
    text-align: center;
    position: relative;
}
.cloud{
    position: absolute;
    bottom:0;
}
/*专柜 end*/
/*导航*/
.m-navigation {
    background: url("navigation_bg.jpg") top center no-repeat;
    width:100%;
    height:987px;
    position: relative;
    padding-top: 154px;
    box-sizing: border-box;
}
.monopoly{
    position: absolute;
    top: -62px;
    z-index: 5;
    text-align: center;
}
.navigation {
    width: 100%;
    text-align: center;
}
/*导航 end*/
/*专区（可重复）*/
.air,.air_active,.ice,.ice_active,.wash,.wash_active,.hot,.hot_active,.tv,.tv_active,.more,.more_active{
    background: url("sprite.png")  no-repeat;
    margin-top: 17px;
}
.m-plate{
    background-color:#006f2e;
}
.plate_link {
    background-color: #044c27;
    width: 100%;
    height:100px;
}
.plate_link a{
    display: inline-block;
    width: 75px;
    height:66px;
}
.air_active {
    background-position:3px  -83px;
    margin-left: 47px;
    margin-right: 108px;
}
.air {
    background-position:3px  -9px;
    margin-left: 47px;
    margin-right: 108px;
}
.ice{
    background-position:-68px  -9px;
    margin-right: 102px;

}
.ice_active{
    background-position:-68px  -83px;
    margin-right: 102px;

}
.wash{
    background-position:-148px  -9px;
    margin-right: 88px;
}
.wash_active{
    background-position:-148px  -83px;
    margin-right: 88px;
}
.hot{
    background-position:-250px  -9px;
    margin-right: 92px;
}
.hot_active{
    background-position:-250px  -83px;
    margin-right: 92px;
}
.tv{
    background-position:-353px  -9px;
}
.tv_active{
    background-position:-353px  -83px;
}
.more{
    margin-right: 7px!important;
    margin-left: 0!important;
    background-position:-424px  -9px;
}
.plate_con{
    padding:7px 0;
}

/*专区 大小区域维护*/
/*空调专区维护*/
.m-air .con_lf{
    width:370px;
    height:350px;
    overflow: hidden;
    background-color: red;
    margin-right: 9px;
    background: url("con_big.jpg") bottom center no-repeat;
}
.m-air .con_lf .pro_img{
    width:70px;
    height:350px;
    line-height:350px;
    margin-left: 36px;
    margin-right: 30px;
}

.pro_img img{
    vertical-align: middle;
}

.m-air .con_lf .pro_msg {
    width: 230px;
    height:350px;
    overflow: hidden;
}
.con_lf .pro_buy{
    margin-top: 5px;
}
.m-air .con_lf .pro_msg_box {
    position: relative;
    top:50%;
    height: 200px;
    margin:-100px 0;
}
.m-air .con_lf .pro_name {
    max-width: 200px;
    height: 62px;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}
.pro_name{
    color: #006e2d;
    font-size: 22px;
    margin: 0;
}
.pro_Model{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #707070;
    font-weight: 400;
}
.m-air .con_lf .pro_Model{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #707070;
    margin-bottom: 5px;
    font-weight: 400;

}
.pro_selling_1,.pro_selling_2,.pro_selling_3,.pro_selling_4{
    height:20px;
    color: #707070;
    font-weight: 400;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pro_buy{
    width: 72px;
    text-align: center;
    background-color: #f03838;
    padding:6px 0px;
    border-radius: 5px;
    color:#fdebeb;
    display: inline-block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}
.con_rt{
    width:609px;
    height:349px;
    overflow: hidden;
}
.m-air .con_rtKid{
    text-align: center;
}
.con_rtKid{
    width:302px;
    height:173px;
    overflow: hidden;
    background-color: #fff9ee;
    margin-bottom: 3px;

}
.con_rtKid .pro_img{
    margin-top: 5px;
}
.m-air{
    position: relative;
}
.m-air .BTS {
    position: absolute;
    right: 35px;
    top:123px;
}
.m-air .con_rtKid .pro_name{
    height:20px;
    line-height:20px;
}
.con_rtKid .pro_name{
    font-size: 18px;
    line-height:19px;
    max-width: 302px;
}
.con_rtKid span{
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
}
.con_rtKid .pro_Model{
    font-size: 12px;
    line-height:12px;

}
.con_rtKid .pro_selling{
    font-size: 14px;
    max-width: 302px;
}
/*空调专区维护 end*/
/*冰箱专区维护*/
.m-ice .con_lf{
    width:370px;
    height:350px;
    overflow: hidden;
    background-color: red;
    margin-right: 9px;
    background: url("ice_bg.jpg ") bottom center no-repeat;
}
.m-ice .con_lf .pro_img{
    width:124px;
    height:350px;
    line-height:350px;
    margin-left: 25px;
    margin-right: 15px;
}
.m-ice .con_lf .pro_name {
    max-width: 200px;
    height: 62px;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}
.m-ice .con_lf .pro_msg {
    width: 192px;
    height:350px;
    overflow: hidden;
}
.m-ice .con_lf .pro_msg_box {
    position: relative;
    top:50%;
    height: 200px;
    margin:-100px 0;
}
.m-ice .con_rtKid .pro_img{
    margin: 5px 22px 5px 33px;
}
.m-ice .con_rtKid .pro_msg{
    width: 183px;
    height: 173px;
    overflow: hidden;
}
.m-ice .con_rtKid .pro_msg_box {
    position: relative;
    top:50%;
    height: 110px;
    margin:-55px 0;
}
.con_rtKid .pro_selling_3,.con_rtKid .pro_selling_1,.con_rtKid .pro_selling_2,.con_rtKid .pro_selling_4{
    font-size: 12px;
    height:12px;
    line-height: 12px;
    margin-top: 2px;
    max-width: 98px;
}
.m-ice .con_rtKid .pro_buy{
    margin-top: 6px;
}
/*冰箱专区维护 end*/
/*洗衣机专区维护*/
.m-wash .con_lf{
    width:370px;
    height:350px;
    overflow: hidden;
    background-color: red;
    margin-right: 9px;
    background: url("ice_bg.jpg ") bottom center no-repeat;
}
.m-wash .con_lf .pro_img{
    width:176px;
    height:350px;
    line-height:350px;
    margin-left: 12px;
    margin-right: 4px;
}
.m-wash .con_lf .pro_name {
    max-width: 200px;
    height: 62px;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}
.m-wash .con_lf .pro_msg {
    width: 176px;
    height:350px;
    overflow: hidden;
}
.m-wash .con_lf .pro_msg_box {
    position: relative;
    top:50%;
    height: 200px;
    margin:-100px 0;
}
.m-wash .con_rtKid .pro_img{
    margin: 8px 25px 10px 20px;
}
.m-wash .con_rtKid .pro_msg{
    width: 143px;
    height: 173px;
    overflow: hidden;
}
.m-wash .con_rtKid .pro_msg_box {
    position: relative;
    top:50%;
    height: 140px;
    margin:-70px 0;
}

.m-wash .con_rtKid .pro_buy{
    margin-top: 6px;
}
/*洗衣机专区维护 end*/
/*热水器专区维护*/
.m-hot .con_lf{
    width:370px;
    height:350px;
    overflow: hidden;
    background-color: red;
    margin-right: 9px;
    background: url("ice_bg.jpg ") bottom center no-repeat;
}
.m-hot .con_lf .pro_img{
    width:100%;
    height:188px;
    margin-top: 15px;

}
.m-hot .con_lf .pro_name {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.m-hot .con_lf .pro_msg {
    width: 100%;
    overflow: hidden;
}
.m-hot .con_lf .pro_buy{
    margin-top: 13px;
}
.m-hot .con_rtKid .pro_img{
    margin: 6px 12px 6px 16px;
}
.m-hot .con_rtKid .pro_imgV{
    margin: 0;
    width: 100%;
    margin-top: 4px;
}
.m-hot .con_rtKid .pro_msg{
    width: 182px;
    height: 173px;
    overflow: hidden;
}
.m-hot .con_rtKid .pro_msgV{
    width:100%;
    height: 80px;
    margin-top: -4px;
}
.m-hot .con_rtKid .pro_msgV .pro_msg_boxV{
    font-size: 12px;
}
.m-hot .con_rtKid .pro_msgV .pro_msg_boxV .pro_Model{
    height:12px;
    line-height:12px;
}
.m-hot .con_rtKid .pro_msgV .pro_msg_boxV span{
    height:12px;
    line-height:12px;
    display: inline-block;
}
.m-hot .con_rtKid .pro_msgV .pro_buy{
    margin-top: 0;
}
.m-hot .con_rtKid .pro_msg_box {
    position: relative;
    top:50%;
    height: 126px;
    margin:-63px 0;
}

.m-hot .con_rtKid .pro_buy{
    margin-top: 6px;
}
/*热水器专区维护 end*/
/*电视机专区维护*/
.m-tv .con_lf{
    width:370px;
    height:350px;
    overflow: hidden;
    background-color: red;
    margin-right: 9px;
    background: url("ice_bg.jpg ") bottom center no-repeat;
}
.m-tv .con_lf .pro_img{
    width:100%;
    height:180px;
    margin-top: 10px;

}
.m-tv .con_lf .pro_name {
    width: 100%;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}
.m-tv .con_lf .pro_msg {
    width: 100%;
    overflow: hidden;
}
.m-tv .con_lf .pro_msg .pro_msg_box{
    max-width: 300px;
    overflow: hidden;
    margin-left: 33px;
    position: relative;
}
.m-tv .con_lf .pro_buy{
    position: absolute;
    bottom:0;
    right:0;
    margin-top: 13px;
}
.m-tv .con_rtKid .pro_img {
    width: 144px;
    height: 173px;
    line-height: 173px;
    margin: 0 4px 0 4px;
}
.m-tv .con_rtKid .pro_msg{
    width:138px;
}
.m-tv .con_rtKid .pro_msg_box {
    margin-top: 30px;
}
.m-tv .con_rtKid .pro_msg{
    width: 150px;
    height: 173px;
    overflow: hidden;
    font-size: 12px;
}
.m-tv .con_rtKid .pro_buy{
    margin-top: 6px;
}
.m-tv .con_rtKid .pro_selling_1{
    margin-right:4px;
}
/*电视机专区维护 end*/

/*专区 大小区域维护 end*/
/*专区 end*/
/*底部留空*/
.g-foot {
    width: 100%;
    height:18px;
    background-color:#006f2e;
}
.f-container{
    position: relative;
    z-index:10;
}
.point_r {
    position: absolute;
    right: 0;
    top: 2198px;
    bottom:0;
    width: 200px;
    z-index: 1;
    opacity: 0.6;
    background: url("point_r.png") top center repeat-y;
}
.point_l {
    position: absolute;
    left: -100px;
    top: 2580px;
    bottom:0;
    width: 200px;
    z-index: 0;
    opacity: 0.6;
    background: url("point_r.png") left center repeat-y;
}
/*底部留空 end*/